footer { clear: both; }
code { background-color: #F5F5F5; }
article p, article ul, article ol { font-size: 14px; line-height: 1.5em; }
article ol li { margin-bottom: 10px; }
article h2, article h3, article h4 { margin: 1em 0 0.3em 0; }

/* index */
.hero-unit h1 {
  margin-bottom: 20px;
  font-size: 55px;
}
#latest-posts h3 { line-height: 1.5em; }
#latest-posts h3 a:hover { text-decoration: none; }
p.discover-more { text-align: right; }

/* post */
#top-bar { padding: 20px 0 10px 0; margin-bottom: 20px; background-color: #F5F5F5; }
#top-bar header { text-align: center; }
#top-bar header h1 a { color: #404040; }
#top-bar header h1 a:hover { text-decoration: none; }
#top-bar nav ul { margin: 0; }
#top-bar nav ul li { float: left; list-style-type: none; margin: 15px 20px 0 0; }

#recent-posts ul { margin-left: 0px; }
#recent-posts ul li { list-style-type: none; margin: 10px 0; }

.left { float: left; }
.right { float: right; }

.hero-unit {
	  background-image: url(/images/cardboard_flat.png);
}