
<div class="breadcrumb">
	<b><a href="#!/posts" class="js-rewrite-sha"><span itemprop="title">Posts</span></a></b> / 	
</div>

<div class="bubble tree-browser-wrapper">

      <table class="tree-browser" cellpadding="0" cellspacing="0">
        <thead>
        <tr class="header">
          <th></th>
          <th>title</th>
          <th></th>
          <th>date</th>
          <th>author</th>
        </tr>
        </thead>
        <tbody>

		<% _.each(model, function(model){ %>

          <tr class="alt">
            <td class="icon"> <span class="mini-icon mini-icon-directory"></span> </td>
            <td class="content"> <a href="#!/post/<%= model.id %>/<%= model.linkTitle %>" class="js-slide-to js-rewrite-sha"><%= model.title %></a></td>
			<td></td>
            <td class="age"><time class="js-relative-date"><%= new Date(model.date).toString("dd-MM-yyyy") %> [<%= prettyDate(new Date(model.date).toString("yyyy-MM-ddTHH:mm:ss")) %>]</time></td>
            <td class="message"><a href="#" class="message">Diullei Gomes</a></td>
          </tr>
			
		<% }); %>
				  
        </tbody>
      </table>
      </div>

		<h3>Tags</h3>
		<%
			if(allTags.length){
				for(var i = 0; i<(allTags.length - 1); i++){ %>
					<%= allTags[i] %>, 
				<%}%>
				<%= allTags[allTags.length - 1] %>
			<%}
		%>
