<div id="post">
	<div class="pagehead repohead instapaper_ignore readability-menu">
		<div class="title-actions-bar">

			<ul class="pagehead-actions">
				<li class="nspr">
					<a href="http://www.twitter.com/diullei" class="minibutton"  target="_blank">@diullei</a>
				</li>
				<li>
					<a 
						href="https://www.github.com/Diullei/bloghub" 
						class="minibutton btn-fork js-toggler-target fork-button lighter"  target="_blank" >
						Fork
					</a>
				</li>
			</ul>
	
			<h1 class="entry-title public">
				<span class="repo-label"><span>public</span></span>
				<span class="mega-icon mega-icon-public-repo"></span>
				<span class="author vcard">
					<a href="#" class="url fn" itemprop="url" rel="author"><span itemprop="title"><%= model.by %></span></a>
	            </span> / <strong><a href="#!/post/<%= model.id %>/<%= model.linkTitle %>" class="js-current-repository"><%= model.title %></a></strong>
			</h1>
						
		</div>
		<div class="subnav-bar">
			<b>Tags:</b> 
			<%
				if(tags.length){
					for(var i = 0; i<(tags.length - 1); i++){ %>
						<%= tags[i] %>, 
					<%}%>
					<%= tags[tags.length - 1] %>
				<%}
			%>
			<br/>
		</div>
	</div>
	<div id="js-repo-pjax-container">
		<div id="slider">
	                        
	            <div class="announce instapaper_body md" id="readme">
	                <!-- span class="name"><span class="mini-icon mini-icon-readme"></span> ...</span -->
	                <article class="markdown-body entry-content">
						<%= model.content %> 
	                </article>
	            </div>

	            <div id="gollum-footer">
	                <p id="last-edit">
	                    Last edited by <%= model.by %>, <time><%= prettyDate(new Date(model.date).toString("yyyy-MM-ddTHH:mm:ss")) %></time>
	                </p>
	            </div>

	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	
	    var disqus_shortname = 'diulleigomes'; // required: replace example with your forum shortname
		var disqus_identifier = '<%= model.title %>';
		var disqus_title = '<%= model.title %>';
		var disqus_message = '<%= model.title %>';
		
	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	
	        <br style="clear:both;">
		</div>
	</div>
</div>