<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="Component search to TSD - TypeScript Definition Package Manager.">
		<meta name="author" content="Diullei Gomes">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>TypeScript Definition Package Manager - Search</title>
		<link rel="search" type="application/opensearchdescription+xml" href="opensearch.xml" title="Search components">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css">
		<link rel="stylesheet" href="css/main.css">
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
	</head>
	<body>
		<a href="https://github.com/Diullei/TSD-Package-Manager-Search"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
		<div class="wrapper">
			<div class="container">
				<header class="header row">
					<div class="span12">
						<h1>TSD <small>TypeScript Definition Package Manager - Search</small></h1>
					</div>					
				</header>
				
				<section class="main">
					<div id="loading">
						<p>Loading list...</p>
					</div>
					<div id="components" class="row"></div>
				</section>
			</div>
			<div class="push"></div>
		</div>
		<hr/>
		<footer>
			<center>
				<p>
					Brought to you by <a href="https://github.com/diullei"><img src="http://gravatar.com/avatar/5e93890c5b54d18dd454f14789c2b225?s=80" width="40" height="40" alt="Diullei Gomes"> Diullei Gomes</a>
				</p>
			</center>
		</footer>
	</body>
	<script type="text/template" id="components-small-template">
		<div class="span6">
			<h4><%- title %></h4>
			<dl class="dl-horizontal">
				<% _.each(components, function (el) { %>
					<dt><a title="<%- el.description %>" href="<%- el.website %>"><%- el.name %></a></dt>
					<dd title="<%- el.description %>"><p><%- el.description %></p></dd>
				<% }); %>
			</dl>
		</div>
	</script>​
	<script type="text/template" id="components-template">
	
		<div class="navbar navbar-inverse" style="position: static;">
		  <div class="navbar-inner">
			<div class="container">
			  <div class="nav-collapse collapse navbar-inverse-collapse">
				<ul class="nav">
				  <li class="active"><a href="#">Home</a></li>
				  <li><a href="#_download" data-toggle="modal"><i class="icon-download-alt icon-white"></i> Download TSD Tool</a></li>
				  <li><a href="https://github.com/Diullei/tsd#readme"><i class="icon-book icon-white"></i> View doc</a></li>
				</ul>
				<ul class="nav pull-right">
				  <li>
					<form class="navbar-search pull-left" action="">
						<input style="display:none" class="search input-medium search-query" type="search" placeholder="Search in <%= components.length %> components..." autofocus>
					</form>
				  </li>
				</ul>
			  </div><!-- /.nav-collapse -->
			</div>
		  </div><!-- /navbar-inner -->
		</div>			

		<div id="_download" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Label__download" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="Label__download"><i class="icon-download-alt"></i>Download TSD <small>TypeScript Definition Package Manager</small></h3>
			</div>
			<div class="modal-body">
				
				<div class="nuget-badge">
					<p>TSD is installed using <a href="http://nodejs.org/">node</a> and <a href="https://npmjs.org/package/tsd">npm</a>. To install use:</p>
					
					<p><code>$&gt; npm install -g tsd</code></p>
					
					<p>
						Download as a <a href="https://github.com/Diullei/tsd/archive/master.zip">.zip</a> file.
					</p>
				</div>				
				
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>

		
	<div class="bs-docs-example">
		<table class="table">
			<thead>
				<tr>
					<th class="sort" data-sort="name">Name</th>
					<th class="sort" data-sort="description">Description</th>
					<th class="sort" data-sort="stars">Dependency</th>
					<th class="sort" data-sort="updated">Version</th>
					<th class="sort" data-sort="owner">Owner</th>
				</tr>
			</thead>
			<tbody class="list">
				<% _.each(components, function (el) { %>
					<tr>
						<td class="name">
							<a title="<%- el.description %>" href="#_<%- el.versions[0].key %>" data-toggle="modal">
								<i class="icon-download-alt"></i> <%- el.name %>
							</a>
						</td>
						<td class="description" title="<%- el.description %>"><p><%- el.description %></p></td>
						<td class="stars">
							<% _.each(el.versions[0].dependencies, function (dep) { %>
								<span class="badge badge-info"><%- dep.name %></span>
							<% }); %>
						</td>
						<td class="updated"><%- el.versions[0].version %></td>
						<td class="owner"><%- el.versions[0].author %></td>
					</tr>
				<% }); %>
			</tbody>
		</table>
	</div>
		
	<% _.each(components, function (el) { %>
		<div id="_<%- el.versions[0].key %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Label_<%- el.versions[0].key %>" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="Label_<%- el.versions[0].key %>"><i class="icon-file"></i><%- el.name %> <small>(*.d.ts) definition file</small></h3>
			</div>
			<div class="modal-body">
				
				<div class="nuget-badge">
					<p>To install <b><%- el.name %></b> use the following command:</p>
					
					<p><code>$&gt; tsd install <%- el.name %></code></p>
					
					<p>To install <b><%- el.name %></b> with all dependencies<br/>use the following command:</p>
					
					<p><code>$&gt; tsd install* <%- el.name %></code></p>
					
					<p>
						Download <b><a href="<%- el.versions[0].url %>"><%- el.name %>.d.ts</a></b> file.
					</p>
				</div>				
				
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	<% }); %>

		
		<div class="row pagination pagination-large pagination-centered">
			<ul class="paging"></ul>
		</div>
		<div class="message hide row" id="search-notfound">No matching definition file found. Take a deep breath and try something else.</div>
	</script>
		​
	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
	<script src="dist/main.js"></script>
	<script>var _gaq=[['_setAccount','UA-25562592-3'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
</html>
